server {
    listen 8080;
    server_name localhost;

    error_page 404 /errors/404.html;
    error_page 413 /errors/413.html;
    error_page 500 /errors/500.html;

    location /timeout/ {
        root /home/hthant/webserv/timeout;
    }
    
    location / {
        root /home/hthant/webserv/www/html;
        index index.html;
    }

    location /public/ {
        root /home/hthant/webserv/public;
        autoindex on;
    }

    location /upload/ {
        root /home/hthant/webserv/uploads;
        limit_except POST;
    }

}
