server {
    listen 9090;
    root /home/thant-htet-aung/Downloads/YoupiBanane;
    client_max_body_size 100;

    location / {
        limit_except GET;
    }

    location /post_body {
        limit_except POST;
    }

    location /directory {
        limit_except GET POST;
        root /home/thant-htet-aung/Downloads/YoupiBanane;
        index youpi.bad_extension;
    }
}
