http {
    server {
        listen 127.0.0.1:8080;
        server_name localhost;

        error_page 404 /errors/404.html;
        error_page 413 /errors/413.html;
        error_page 500 502 503 504 /errors/50x.html;

        client_max_body_size 2M;

        location / {
            root /var/www/html;
            index index.html index.htm;
        }

        location /old-page {
            return 301 http://localhost:8080/new-page;
        }

        location /public/ {
            root /var/www/public;
            autoindex on;
        }

        location /api/ {
            root /var/www/api;
            limit_except GET POST {};
        }

        location /asdf/ {
            limit_except POST DELETE {};
            alias /var/www/html;
            proxy_pass http://127.0.0.1:8080/items;
        }
        location /upload/ {
            root /var/www/uploads;
            upload_store /var/www/uploads;
            limit_except POST {
                allow 192.168.1.0/24;
                allow 127.0.0.1;
                deny all;

                return 405;  # 405 Method Not Allowed

                error_page 403 /errors/forbidden.html;
                error_page 405 /errors/method_not_allowed.html;
                };
        }

        location /cgi-bin/ {
            root /var/www/cgi-bin;
            cgi_pass /usr/bin/python3;
            cgi_ext .py;
        }

        location /php/ {
            root /var/www/php;
            cgi_pass /usr/bin/php-cgi;
            cgi_ext .php;
        }

        location /errors/ {
            root /var/www;
        }
    }
    server {
        listen 0.0.0.0:8081;
        server_name mysite.com;

        error_page 404 /errors/404.html;

        location / {
            root /var/www/mysite;
            index home.html;
        }

        location /upload/ {
            root /var/www/mysite/uploads;
            upload_store /var/www/mysite/uploads;
            limit_except POST {};
        }
    }
}
