server {
        listen 8080;
        server_name server_one;
        client_max_body_size 1048576;

        error_page 404 /errors/404.html;
        root /home/hthant/webserv;
        index index.html;

        location / {
            root /home/hthant/webserv/www/html;
            index index.html;
			limit_except;
			autoindex off;
        }
        location /py/ {
            root /home/hthant/webserv/www/python;
            index index.html;
            cgi_pass /usr/bin/python3;
            cgi_ext .py;
        }
}
server {
        listen 9090;
        server_name server_two;
        client_max_body_size 2097152;
		error_page 500 /errors/500.html;
        error_page 404 /errors/404.html;
        root /home/thant-htet-aung/webserv/www/html;

        location / {
            root /home/thant-htet-aung/webserv/www/html;
            index home.html;
			limit_except GET POST;
			autoindex on;
			proxy_pass https://www.google.com:443/;
        }

        location /files {
            index asdf.html index.html;
            autoindex on;
        }
}
